/* @font-face {
    font-family: "g49";
    src: url("/g49font.ttf");
} */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-font {
    font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, a {
    font-family: "Kanit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hidden-element {
    display: none;
    margin: 0;
    padding: 0;
  }
/* General style to remove outline */
button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.main-gardient {
    background-image: radial-gradient(circle at center top, rgba(89,200,247,1) -100vh, rgba(255,255,255,0) 50vh);
}

/*Vue Carousel Config*/
  .carousel__viewport {
    perspective: 2000px;
  }
  
  .carousel__track {
    transform-style: preserve-3d;
  }
  
  .carousel__slide--sliding {
    transition: 0.5s;
  }
  
  .carousel__slide {
    opacity: 0.5;
    transform: rotateY(-20deg) scale(0.9);
  }
  
  .carousel__slide--active ~ .carousel__slide {
    transform: rotateY(20deg) scale(0.9);
  }
  
  .carousel__slide--active {
    opacity: 1;
    transform: rotateY(0) scale(1.1);
  }

/* MapBox Design */

.findPage_MapBox .mapboxgl-popup-content {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  background-color: #F2FBFF;
}

/* Image Zoom */
.popupimage {
  cursor: pointer;
  user-select: none;
}

.popupimage_desktop:active {
  position: absolute;
  display: block; /* 'absolute' is not a valid value for display */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(7); /* Centering and scaling */
  transition-duration: 500ms;
}

.popupimage_mobile:hover {
  position: absolute;
  display: block; /* 'absolute' is not a valid value for display */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(3); /* Centering and scaling */
  transition-duration: 500ms;
}