/* @font-face {
    font-family: "g49";
    src: url("/g49font.ttf");
} */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-font {
    font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, a {
    font-family: "Kanit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hidden-element {
    display: none;
    margin: 0;
    padding: 0;
  }
/* General style to remove outline */
button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.main-gardient {
    background-image: radial-gradient(circle at center top, rgba(89,200,247,1) -20vh, rgba(255,255,255,0) 20vh);
}